@import 'reset';

$primary-font: 'kansasnew',
serif;

$body-font: -apple-system,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
Oxygen,
Ubuntu,
Cantarell,
'Open Sans',
'Helvetica Neue',
sans-serif;

$primary-colour: #A8D6F5;

::selection {
    background: $primary-colour;
}

body {
    font-family: $body-font;
}

svg {
    fill: black;
    transition: fill 0.5s;
}

a {
    text-decoration: none;
    color: black;
    font-family: $body-font;

    & svg:hover {
        fill: $primary-colour;
    }
}



h1 {
    font-family: $primary-font;
    font-size: 4em;
    font-weight: 700;
}

p {
    line-height: 35px;
    font-size: 1.7em;
}

nav {
    height: 70px;
    width: 100%;
    position: absolute;
    top: 0;
    // background: red;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    background: white;


    a {
        text-transform: lowercase;
        font-family: $primary-font;
        font-size: 1.2em;
        position: relative;

        &:hover::after {
            position: absolute;
            content: "";
            height: 6px;
            // width: 80px;
            background: $primary-colour;
            bottom: 0;
            left: -20px;
            z-index: -1;
            animation: line-width 0.5s ease forwards;
        }
    }
}

@keyframes line-width {
    from {
        width: 0px;
    }

    to {
        width: 80px;
    }
}

#hero {
    display: flex;
    height: 100vh;
    overflow: hidden;
    position: relative;

    .img-container {
        position: absolute;
        bottom: -2px;
        right: 0;
        // z-index: 2;
    }


    .main-column {
        // background: blue;
        width: 100%;

        .bg {
            // position: absolute;
            // background: orange;
            width: 70%;
            height: 100%;
            position: absolute;
            right: 70px;
            // right: 0;
            z-index: 0;
            background: linear-gradient(180deg, #A8D6F5, #fff);
            animation: bg-top 0.5s ease forwards;

            @keyframes bg-top {
                from {
                    transform: translateY(-100%);
                }

                to {
                    transform: translateY(0);
                }
            }

            // img {
            //     position: absolute;
            //     bottom: 0;
            //     right: 0;
            // }
        }

        .content {
            top: 0;
            bottom: 0;
            left: 10%;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            // width: 700px;

            h1 {
                text-shadow: 4px -4px 0px #ffffff;
            }

            p {

                margin: 10px 0 50px 0;
            }
        }
    }

    #social-column {
        // background: white;
        // width: 3%;
        width: 70px;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        z-index: 1;
        // animation: social-column 0.5s ease forwards;

        svg {
            width: 20px;
            height: 20px;
            // transform: skewY(7deg);
        }
    }
}


// @keyframes social-column {
//     from {
//         transform: translateX(100%);
//     }

//     to {
//         transform: translateX(0);
//     }
// }

.btns {
    a {
        font-family: $primary-font;
        padding: 5px 10px;
        font-size: 1.5em;
        text-transform: lowercase;
        margin-right: 5px;
        border-radius: 5px;
        border: 2px solid black;
        transition: background-color 0.6s, color 0.6s;

        &.primary {
            background-color: $primary-colour;
        }

        &.secondary {
            background-color: transparent;
        }

        &:hover {
            background-color: darken($primary-colour, 20%);
            color: white;
        }
    }
}